<a href="https://colab.research.google.com/github/jessica-nguyen-dev/BUS4-110A-Fund-Mgmt-Info-Sys/blob/main/01_HW5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**: Use a loop to print "I know how to use while loops" exactly 12 times.

In [ ]:
i = 0
while i < 12:
  print("I know how to use while loops")
  i += 1

I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops

**Q2**: Can you use a while loop to print the\
digits from 0 to 9 in order (including 0 and 9)?\
Your loop should execute 10 times.

In [ ]:
i = 0

while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

**Q3** Can you use a while loop to print all multiples of 10 from 10 to 90 in order (including 10 and 90)?

In [ ]:
i = 1

while i < 10:
  print(i * 10)
  i += 1

10
20
30
40
50
60
70
80
90

**Q4** Using a for loop, print the numbers 0 through 12, in order, including 0 and 12.

In [ ]:
for i in range(13):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

**Q5** Using a for loop, print the numbers 10 through 20, in order, including 10 and 20.

In [ ]:
for i in range(10,21):
  print(i)

10
11
12
13
14
15
16
17
18
19
20

**Q6** Using a for loop, print all multiples of 10 from 0 to 100, in order, including 0 and 100.

In [ ]:
for i in range(11):
  print(i * 10)

0
10
20
30
40
50
60
70
80
90
100

**Q7** Using a for loop, print the numbers 20 through 10, in reverse order, including 20 and 10.

In [ ]:
for i in range(20,9,-1):
  print(i)

20
19
18
17
16
15
14
13
12
11
10

**Q8** Using nested loops, print all pairs of numbers from 3, 4, 5, where the order of each pair matters.

In [ ]:
for i in range(3,6):
  for j in range(3,6):
    print(i,j)

3 3
3 4
3 5
4 3
4 4
4 5
5 3
5 4
5 5